:root {
  --blue: #356af6;
  --red: #e11b2c;
}

body{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  min-height: 80vw;
}
.cardList_container{
  display: flex;
  align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-right: 10px;
  transition: 0.3s;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: var(--blue);
  color: white;
  padding: 5px 8px;
  font-size: 16px;
  cursor: pointer;
}
.btn-alert{
  background-color: var(--red);    
}